# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Django
db.sqlite3

# Node / React
frontend/node_modules/
frontend/build/

# Godot
safecode/.godot/
safecode/.import/
safecode/export/
*.env
nul

.claude/